<div class="card darken-1" [class.red]="service.novelty" [class.blue-grey]="!service.novelty">
  <div class="card-content white-text">
    <span class="card-title">{{service.name}}</span>
    <div>{{service.price}}</div>
    <img [src]="service.image">
    <div>
      <button (click)="service.novelty = !service.novelty">Set Oferta</button>
        <input  id="first_name" type="text" class="browser-default"
          [value] = "contenido" (input)="contenido = $event.target.value">
          {{contenido}}
      <select class="browser-default" [value]="quantity"
        (input)="setQuantity($event)">
        <option *ngFor="let i of createArrayTo(10);" [value]="i">
          {{i}}
        </option>
      </select>
    </div>
  </div>
  <div class="card-action">
    <button *ngIf="quantity>0" (click)="cambiarCantidad(-1)">-</button>
    <span class="quantity">{{quantity}}</span>
    <button (click)="cambiarCantidad(+1)">+</button>
  </div>
</div>
